<div class="row">
    <div class="col-12 d-flex justify-content-end mb-2">
        <app-go-back></app-go-back>
    </div>
</div>
<div class="row justify-content-center" *ngIf="!datalode">
    <div class="col-sm-8">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>sr.no</th>
                    <th>id</th>
                    <th>Subjectname</th>
                    <th>Email</th>
                    <th>Notes</th>
                    <th>Action</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of viewexams; let i = index;">
                    <td>{{ i +1 }}</td>
                    <td> {{ item._id }} </td>
                    <td> {{ item.subjectName }} </td>
                    <td> {{ item.email }} </td>
                    <td>{{item.notes}}</td>
                    <td><button class="btn btn-secondary" (click)="particularexam(item._id)">viewexam</button></td>
                    <td><button class="btn btn-danger" (click)="deleteexam(item._id)">delete</button></td>
            </tbody>
        </table>
    </div>
</div>