<p>exam-paper works!</p>
<div class="model" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-body">
        <div *ngFor="let stu of paper">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                
                                <th>question id</th>
                                <th>Question </th>
                                <th>Option</th>
                                <th>Ans</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ stu?.qustion }} </td>
                                <td> {{ stu?.opation }} </td>
                                <td> {{ stu?.ans }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="close()">Close</button>
    </div>
</div>