<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <app-go-back></app-go-back>
  </div>
</div>
<div class="row justify-content-around mt-md-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <p>Welcome to <span class="text-primary">Tushar</span></p>
      </div>
      <div class="card-body">
        <button class="btn btn-primary ms-3" (click)="redirect()">All-Student-List</button>
        <button class="btn btn-primary ms-3" (click)="render()">View-Exampage</button>
        <button class="btn btn-primary ms-3" (click)="renders()">Verified-Student</button>
        <button class="btn btn-warning ms-3" (click)='redirects()'>Reset-Password</button>
        <button class="btn btn-warning ms-3" (click)='CreateExam()'>Create-Exam</button>
      </div>
    </div>
  </div>
</div>