<!-- <p>profile works!</p>
<div class="row">
<div class="col-6 d-flex justify-content-center">
    <div class="card" *ngFor="let item of studentprofile">
        {{item.name}}
    </div>
</div>
</div> -->

<!-- <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-5">
                <div class="card" >
                    <div class="card-header text-center">
                        <div> 
                            <img src="https://img.icons8.com/bubbles/100/000000/administrator-male.png" class="img-lg rounded-circle mb-4" alt="profile image">
                            <h4></h4>
                        </div>
                        <div class="card-body" *ngFor="let item of studentprofile">
                            {{item.name }}
                            {{item.email}}
                            {{item._id}}
                            {{item.role}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- {{studentprofile|json}} -->